/* screen - create-acccunt-webdesktopcharity-10 */

.border-class-1 {
  border:1px solid rgba(255,255,255,0);
}
.border-class-2 {
  border:1px solid var(--shark);
}
.create-acccunt-webdesktopcharity-10 {
  background-color:var(--concrete);
  height:2030px;
  overflow:hidden;
  position:relative;
  width:1472px;
}
.create-acccunt-webdesktopcharity-10 .about-us-C61RwL {
  background-color:rgba(0,0,0,0);
  color:var(--black);
  height:auto;
  left:680px;
  position:absolute;
  text-align:center;
  top:57px;
  white-space:nowrap;
  width:76px;
}
.create-acccunt-webdesktopcharity-10 .about-us-VMr6Om {
  background-color:rgba(255,255,255,0);
  color:var(--white);
  height:auto;
  left:518px;
  position:absolute;
  text-align:center;
  top:1940px;
  white-space:nowrap;
  width:82px;
}
.create-acccunt-webdesktopcharity-10 .account-number-C61RwL {
  background-color:rgba(38,38,38,0);
  height:auto;
  left:162px;
  position:absolute;
  text-align:left;
  top:687px;
  width:230px;
}
.create-acccunt-webdesktopcharity-10 .arrow-down-C61RwL {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:1158px;
  overflow:hidden;
  position:absolute;
  top:730px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .back-C61RwL {
  background-color:rgba(130,130,130,0);
  color:rgba(130,130,130,1.0);
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:14.0px;
  font-style:normal;
  font-weight:700;
  height:56px;
  left:948px;
  letter-spacing:4.00px;
  line-height:24.0px;
  opacity:0.7;
  position:absolute;
  text-align:center;
  top:1187px;
  width:133px;
}
.create-acccunt-webdesktopcharity-10 .background-C61RwL {
  background-color:var(--fuscous-gray);
  height:132px;
  left:0px;
  position:absolute;
  top:1898px;
  width:1472px;
}
.create-acccunt-webdesktopcharity-10 .bank-details-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:165px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:642px;
  white-space:nowrap;
  width:auto;
}
.create-acccunt-webdesktopcharity-10 .button-C61RwL {
  background-color:rgba(255,255,255,0);
  height:56px;
  left:1084px;
  position:absolute;
  top:1185px;
  width:150px;
}
.create-acccunt-webdesktopcharity-10 .center-inf-rmation-23-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:156px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:235px;
  white-space:nowrap;
  width:584px;
}
.component-2-C61RwL {
  background-color:rgba(255,255,255,0);
  height:116px;
  left:825px;
  position:absolute;
  top:504px;
  width:480px;
}
.create-acccunt-webdesktopcharity-10 .contacts-C61RwL {
  background-color:rgba(0,0,0,0);
  color:var(--black);
  height:auto;
  left:818px;
  position:absolute;
  text-align:center;
  top:57px;
  white-space:nowrap;
  width:73px;
}
.create-acccunt-webdesktopcharity-10 .contacts-VMr6Om {
  background-color:rgba(255,255,255,0);
  color:var(--white);
  height:auto;
  left:668px;
  position:absolute;
  text-align:center;
  top:1940px;
  white-space:nowrap;
  width:79px;
}
.create-acccunt-webdesktopcharity-10 .create-account-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:156px;
  position:absolute;
  text-align:left;
  top:141px;
  width:652px;
}
.create-acccunt-webdesktopcharity-10 .do-you-hav-ion-status-C61RwL {
  background-color:rgba(38,38,38,0);
  height:auto;
  left:156px;
  position:absolute;
  text-align:left;
  top:493px;
  width:618px;
}
.create-acccunt-webdesktopcharity-10 .docpdf-dg2FGx {
  background-color:rgba(38,38,38,0);
  height:34px;
  left:14px;
  opacity:0.4;
  position:absolute;
  text-align:left;
  top:7px;
  width:172px;
}
.create-acccunt-webdesktopcharity-10 .ellipse-C61RwL {
  background-color:rgba(196,166,10,0);
  height:8px;
  left:162px;
  position:absolute;
  top:541px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .ellipse-VMr6Om {
  background-color:rgba(196,166,10,0);
  height:1px;
  left:387px;
  position:absolute;
  top:541px;
  width:1px;
}
.create-acccunt-webdesktopcharity-10 .enter-your-cial-media-C61RwL {
  background-color:rgba(34,34,34,0);
  color:var(--log-cabin);
  height:auto;
  left:165px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:1032px;
  width:398px;
}
.create-acccunt-webdesktopcharity-10 .explore-C61RwL {
  background-color:rgba(0,0,0,0);
  color:var(--black);
  height:auto;
  left:585px;
  position:absolute;
  text-align:center;
  top:57px;
  white-space:nowrap;
  width:33px;
}
.create-acccunt-webdesktopcharity-10 .explore-VMr6Om {
  background-color:rgba(255,255,255,0);
  color:var(--white);
  height:auto;
  left:416px;
  position:absolute;
  text-align:center;
  top:1940px;
  white-space:nowrap;
  width:36px;
}
.create-acccunt-webdesktopcharity-10 .facebook-RAoC7C {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:9px;
  position:absolute;
  top:4px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .facebook-xIvpKk {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:7px;
  position:absolute;
  top:-1px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .for-us-to---documents-C61RwL {
  background-color:rgba(34,34,34,0);
  color:var(--log-cabin);
  height:auto;
  left:156px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:382px;
  width:320px;
}
.create-acccunt-webdesktopcharity-10 .front-page--statement-C61RwL {
  background-color:rgba(38,38,38,0);
  height:auto;
  left:164px;
  position:absolute;
  text-align:left;
  top:783px;
  width:294px;
}
.create-acccunt-webdesktopcharity-10 .givvbantu-logo-2-C61RwL {
  background-color:rgba(255,255,255,0);
  height:49px;
  left:126px;
  position:absolute;
  top:47px;
  width:75px;
}
.create-acccunt-webdesktopcharity-10 .givvbantu-logo-3-C61RwL {
  background-color:rgba(255,255,255,0);
  height:49px;
  left:122px;
  position:absolute;
  top:1927px;
  width:75px;
}
.create-acccunt-webdesktopcharity-10 .icon-conta-t-facebook-C61RwL {
  background-color:rgba(255,255,255,0);
  height:18px;
  left:938px;
  overflow:hidden;
  position:absolute;
  top:1021px;
  width:18px;
}
.create-acccunt-webdesktopcharity-10 .icon-contact-attach-C61RwL {
  background-color:rgba(255,255,255,0);
  height:20px;
  left:1102px;
  overflow:hidden;
  position:absolute;
  top:845px;
  width:20px;
}
.create-acccunt-webdesktopcharity-10 .icon-contact-attach-VMr6Om {
  background-color:rgba(255,255,255,0);
  height:20px;
  left:1011px;
  overflow:hidden;
  position:absolute;
  top:419px;
  width:20px;
}
.icon-contact-attach-esxmfg {
  background-color:rgba(255,255,255,0);
  height:20px;
  left:0px;
  overflow:hidden;
  position:absolute;
  top:82px;
  width:20px;
}
.create-acccunt-webdesktopcharity-10 .icon-contact-twitter-C61RwL {
  background-color:rgba(255,255,255,0);
  height:18px;
  left:941px;
  overflow:hidden;
  position:absolute;
  top:952px;
  width:18px;
}
.create-acccunt-webdesktopcharity-10 .icon-social-facebook-C61RwL {
  background-color:var(--eerie-black);
  height:13px;
  left:1253px;
  position:absolute;
  top:68px;
  width:23px;
}
.create-acccunt-webdesktopcharity-10 .icon-social-facebook-VMr6Om {
  background-color:rgba(255,255,255,0);
  height:24px;
  left:1339px;
  position:absolute;
  top:1940px;
  width:26px;
}
.create-acccunt-webdesktopcharity-10 .icon-social-linkedin-C61RwL {
  background-color:rgba(255,255,255,0);
  height:24px;
  left:1287px;
  position:absolute;
  top:1940px;
  width:26px;
}
.create-acccunt-webdesktopcharity-10 .icon-social-twitter-C61RwL {
  background-color:var(--eerie-black);
  height:13px;
  left:1162px;
  position:absolute;
  top:69px;
  width:23px;
}
.create-acccunt-webdesktopcharity-10 .icon-social-twitter-VMr6Om {
  background-color:rgba(255,255,255,0);
  height:24px;
  left:1235px;
  position:absolute;
  top:1940px;
  width:26px;
}
.create-acccunt-webdesktopcharity-10 .icons8-ins-agram-90-1-C61RwL {
  background-color:rgba(255,255,255,0);
  height:20px;
  left:1209px;
  position:absolute;
  top:65px;
  width:20px;
}
.create-acccunt-webdesktopcharity-10 .icons8-ins-am-100-1-1-C61RwL {
  background-color:rgba(255,255,255,0);
  height:18px;
  left:940px;
  position:absolute;
  top:1087px;
  width:18px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-2P4qUJ {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:1000px;
  position:absolute;
  top:1067px;
  width:363px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-C61RwL {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:888px;
  position:absolute;
  top:821px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-J1YQmd {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:158px;
  opacity:0.5;
  position:absolute;
  top:537px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-QxM5SU {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:1000px;
  position:absolute;
  top:1002px;
  width:363px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-VMr6Om {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:607px;
  position:absolute;
  top:936px;
  width:379px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-a5WPlX {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:383px;
  opacity:0.5;
  position:absolute;
  top:537px;
  width:16px;
}
.ignore-me-also-esxmfg {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:50px;
  position:absolute;
  top:68px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-mzXdH9 {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:1000px;
  position:absolute;
  top:936px;
  width:362px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-qr8e7q {
  background-color:rgba(255,255,255,0);
  height:48px;
  left:1059px;
  position:absolute;
  top:405px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .ignore-me-also-xHxYv9 {
  background-color:rgba(255,255,255,0);
  height:56px;
  left:0px;
  position:absolute;
  top:0px;
  width:144px;
}
.create-acccunt-webdesktopcharity-10 .linkedin-Vcx4Rx {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:5px;
  position:absolute;
  top:3px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .lorem-ipsu-gna-aliqua-C61RwL {
  background-color:rgba(34,34,34,0);
  color:var(--log-cabin);
  height:auto;
  left:855px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:1564px;
  width:483px;
}
.create-acccunt-webdesktopcharity-10 .max-size-500-kb-C61RwL {
  background-color:rgba(79,79,79,0);
  color:var(--abbey);
  height:auto;
  left:825px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:410px;
  width:148px;
}
.create-acccunt-webdesktopcharity-10 .name-of-bank-C61RwL {
  background-color:rgba(38,38,38,0);
  height:auto;
  left:818px;
  position:absolute;
  text-align:left;
  top:685px;
  width:230px;
}
.create-acccunt-webdesktopcharity-10 .next-xHxYv9 {
  background-color:rgba(196,166,10,0);
  color:var(--buddha-gold);
  height:24px;
  left:0px;
  position:absolute;
  text-align:center;
  top:17px;
  white-space:nowrap;
  width:146px;
}
.create-acccunt-webdesktopcharity-10 .no-C61RwL {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:407px;
  position:absolute;
  text-align:left;
  top:531px;
  white-space:nowrap;
  width:auto;
}
.create-acccunt-webdesktopcharity-10 .our-partners-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:134px;
  position:absolute;
  text-align:left;
  top:1520px;
  white-space:nowrap;
  width:510px;
}
.create-acccunt-webdesktopcharity-10 .path-YGuXWx {
  background-color:rgba(242,153,74,0);
  height:8px;
  left:2px;
  position:absolute;
  top:4px;
  width:12px;
}
.please-sub-nance-lhdn-esxmfg {
  background-color:rgba(79,79,79,0);
  color:var(--abbey);
  height:auto;
  left:3px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:0px;
  width:477px;
}
.create-acccunt-webdesktopcharity-10 .please-sub-unt-number-C61RwL {
  background-color:rgba(79,79,79,0);
  color:var(--abbey);
  height:auto;
  left:164px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:840px;
  width:677px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-4aYLL0 {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:relative;
  top:0px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-6xdCqt {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:absolute;
  top:0px;
  width:275px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-C61RwL {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:819px;
  opacity:0.15;
  position:absolute;
  top:714px;
  width:370px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-GmgjQn {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:absolute;
  top:0px;
  width:258px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-VMr6Om {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:162px;
  opacity:0.15;
  position:absolute;
  top:716px;
  width:370px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-ZxL38X {
  background-color:rgba(255,255,255,0);
  border-radius:100px;
  height:16px;
  left:0px;
  position:relative;
  top:0px;
  width:16px;
}
.rectangle-dSux4Q {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:relative;
  top:0px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-dg2FGx {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:absolute;
  top:0px;
  width:198px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-mzXdH9 {
  background-color:var(--alabaster);
  height:480px;
  left:1px;
  position:absolute;
  top:1418px;
  width:1471px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-o8Lxpa {
  background-color:rgba(255,255,255,0);
  border-radius:100px;
  height:16px;
  left:0px;
  position:relative;
  top:0px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-oKUHsQ {
  background-color:rgba(255,255,255,0);
  border:2px solid var(--shark);
  border-radius:8px;
  height:56px;
  left:0px;
  position:relative;
  top:0px;
  width:144px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-tmcgJL {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:absolute;
  top:0px;
  width:258px;
}
.create-acccunt-webdesktopcharity-10 .rectangle-z8q74Q {
  background-color:rgba(255,255,255,0);
  border-radius:8px;
  height:48px;
  left:0px;
  opacity:0.15;
  position:absolute;
  top:0px;
  width:258px;
}
.create-acccunt-webdesktopcharity-10 .registrati-te-ros-jkm-C61RwL {
  background-color:rgba(38,38,38,0);
  height:auto;
  left:825px;
  position:absolute;
  text-align:left;
  top:344px;
  width:256px;
}
.create-acccunt-webdesktopcharity-10 .travel-C61RwL {
  background-color:rgba(0,0,0,0);
  color:var(--black);
  height:auto;
  left:472px;
  position:absolute;
  text-align:center;
  top:57px;
  white-space:nowrap;
  width:51px;
}
.create-acccunt-webdesktopcharity-10 .travel-VMr6Om {
  background-color:rgba(255,255,255,0);
  color:var(--white);
  height:auto;
  left:293px;
  position:absolute;
  text-align:center;
  top:1940px;
  white-space:nowrap;
  width:55px;
}
.create-acccunt-webdesktopcharity-10 .twitter-rubtAs {
  background-color:rgba(255,255,255,0);
  height:14px;
  left:5px;
  position:absolute;
  top:5px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .twitter-ukH1DM {
  background-color:rgba(255,255,255,0);
  height:14px;
  left:3px;
  position:absolute;
  top:-0px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .upload-you--documents-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:155px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:319px;
  width:584px;
}
.create-acccunt-webdesktopcharity-10 .upload2-C61RwL {
  background-color:rgba(255,255,255,0);
  height:16px;
  left:465px;
  overflow:hidden;
  position:absolute;
  top:328px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .url-GmgjQn {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:16px;
  opacity:0.4;
  position:absolute;
  text-align:left;
  top:11px;
  transform:rotate(-0.31340650065061937deg);
  white-space:nowrap;
  width:346px;
}
.create-acccunt-webdesktopcharity-10 .url-tmcgJL {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:16px;
  opacity:0.4;
  position:absolute;
  text-align:left;
  top:11px;
  transform:rotate(-0.31340650065061937deg);
  white-space:nowrap;
  width:346px;
}
.create-acccunt-webdesktopcharity-10 .url-z8q74Q {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:16px;
  opacity:0.4;
  position:absolute;
  text-align:left;
  top:11px;
  transform:rotate(-0.31340650065061937deg);
  white-space:nowrap;
  width:346px;
}
.create-acccunt-webdesktopcharity-10 .vector-2P4qUJ {
  background-color:rgba(0,0,0,0);
  height:63px;
  left:136px;
  position:absolute;
  top:1696px;
  width:62px;
}
.create-acccunt-webdesktopcharity-10 .vector-C61RwL {
  background-color:rgba(0,0,0,0);
  height:44px;
  left:1270px;
  position:absolute;
  top:1713px;
  width:48px;
}
.create-acccunt-webdesktopcharity-10 .vector-Db8je3 {
  background-color:rgba(51,77,110,0);
  height:16px;
  left:6px;
  position:absolute;
  top:2px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .vector-EChqhw {
  background-color:rgba(255,255,255,0);
  height:1px;
  left:10px;
  position:absolute;
  top:10px;
  width:1px;
}
.create-acccunt-webdesktopcharity-10 .vector-GzfEFb {
  background-color:rgba(51,77,110,0);
  height:16px;
  left:6px;
  position:absolute;
  top:2px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .vector-J1YQmd {
  background-color:rgba(0,0,0,0);
  height:63px;
  left:210px;
  position:absolute;
  top:1696px;
  width:13px;
}
.vector-N73yyq {
  background-color:rgba(255,255,255,0);
  height:1px;
  left:10px;
  position:absolute;
  top:10px;
  width:1px;
}
.create-acccunt-webdesktopcharity-10 .vector-QbEzA1 {
  background-color:rgba(194,207,224,0);
  height:15px;
  left:0px;
  position:absolute;
  top:2px;
  width:18px;
}
.create-acccunt-webdesktopcharity-10 .vector-QxM5SU {
  background-color:rgba(0,0,0,0);
  height:70px;
  left:422px;
  position:absolute;
  top:1693px;
  width:57px;
}
.create-acccunt-webdesktopcharity-10 .vector-THx6fB {
  background-color:rgba(255,255,255,0);
  height:1px;
  left:10px;
  position:absolute;
  top:10px;
  width:1px;
}
.vector-Uo7fzt {
  background-color:rgba(51,77,110,0);
  height:16px;
  left:6px;
  position:absolute;
  top:2px;
  width:8px;
}
.create-acccunt-webdesktopcharity-10 .vector-VMr6Om {
  background-color:rgba(0,0,0,0);
  height:56px;
  left:1274px;
  position:absolute;
  top:1697px;
  width:61px;
}
.create-acccunt-webdesktopcharity-10 .vector-ZnrUoZ {
  background-color:rgba(38,38,38,0);
  height:14px;
  left:0px;
  position:absolute;
  top:1px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .vector-cWxrGF {
  background-color:rgba(194,207,224,0);
  height:18px;
  left:4px;
  position:absolute;
  top:0px;
  width:10px;
}
.create-acccunt-webdesktopcharity-10 .vector-mzXdH9 {
  background-color:rgba(0,0,0,0);
  height:50px;
  left:958px;
  position:absolute;
  top:1702px;
  width:158px;
}
.create-acccunt-webdesktopcharity-10 .vector-qr8e7q {
  background-color:rgba(0,0,0,0);
  height:40px;
  left:161px;
  position:absolute;
  top:1719px;
  width:13px;
}
.create-acccunt-webdesktopcharity-10 .website-ad-a-accounts-C61RwL {
  background-color:rgba(34,34,34,0);
  height:auto;
  left:166px;
  opacity:0.7;
  position:absolute;
  text-align:left;
  top:936px;
  width:383px;
}
.create-acccunt-webdesktopcharity-10 .webstie-url-6xdCqt {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:16px;
  opacity:0.4;
  position:absolute;
  text-align:left;
  top:10px;
  white-space:nowrap;
  width:363px;
}
.create-acccunt-webdesktopcharity-10 .x-we-worked-with-C61RwL {
  background-color:rgba(34,34,34,0);
  color:var(--log-cabin);
  height:auto;
  left:855px;
  position:absolute;
  text-align:left;
  top:1528px;
  white-space:nowrap;
  width:276px;
}
.create-acccunt-webdesktopcharity-10 .xmlid-229-C61RwL {
  background-color:rgba(0,0,0,0);
  height:52px;
  left:706px;
  position:absolute;
  top:1709px;
  width:61px;
}
.create-acccunt-webdesktopcharity-10 .xmlid-230-C61RwL {
  background-color:rgba(0,0,0,0);
  height:17px;
  left:735px;
  position:absolute;
  top:1693px;
  width:16px;
}
.create-acccunt-webdesktopcharity-10 .yes-C61RwL {
  background-color:rgba(38,38,38,0);
  height:28px;
  left:182px;
  position:absolute;
  text-align:left;
  top:531px;
  white-space:nowrap;
  width:auto;
}
.font-class-1 {
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:18.0px;
  font-style:normal;
  font-weight:400;
  line-height:28.0px;
}
.font-class-2 {
  color:var(--shark);
  font-family:'Cabin', Helvetica, Arial, serif;
  font-size:16.0px;
  font-style:normal;
  font-weight:400;
  line-height:27.2px;
}
.font-class-3 {
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:14.0px;
  font-style:normal;
  font-weight:500;
  letter-spacing:4.00px;
  line-height:24.0px;
}
.font-class-4 {
  color:var(--log-cabin);
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:40.0px;
  font-style:normal;
  font-weight:600;
  letter-spacing:-1.00px;
  line-height:50.0px;
}
.font-class-5 {
  color:var(--shark);
  font-family:'Cabin', Helvetica, Arial, serif;
  font-size:18.0px;
  font-style:normal;
  font-weight:700;
}
.font-class-6 {
  color:var(--log-cabin);
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:22.0px;
  font-style:normal;
  font-weight:500;
  line-height:32.0px;
}
.font-class-7 {
  font-family:"Arial", Helvetica, Arial, serif;
}
.font-class-8 {
  color:var(--log-cabin);
  font-family:'Fira Sans', Helvetica, Arial, serif;
  font-size:60.0px;
  font-style:normal;
  font-weight:700;
  letter-spacing:-1.00px;
  line-height:70.0px;
}
.font-class-9 {
  font-family:'Arial', Helvetica, Arial, serif;
  font-size:16.0px;
  font-style:normal;
  font-weight:400;
  line-height:22.0px;
}
:root {
  --abbey:rgba(79,79,79,1.0);
  --alabaster:rgba(250,250,250,1.0);
  --black:rgba(0,0,0,1.0);
  --buddha-gold:rgba(196,166,10,0.95);
  --concrete:rgba(243,243,243,1.0);
  --eerie-black:rgba(27,27,27,1.0);
  --fuscous-gray:rgba(81,81,81,1.0);
  --log-cabin:rgba(34,34,34,1.0);
  --shark:rgba(38,38,38,1.0);
  --white:rgba(255,255,255,1.0);
}