@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:500,400,600|Fira+Sans:700,400,600,500|Arial:400,700|Cabin:400,700');


.create-acccunt-web-desktop-charity-13 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1143px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(243, 243, 243, 1.0);
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.create-acccunt-web-desktop-charity-13 .contacts2-2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .about-us3-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 680px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .explore4-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 585px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .travel5-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 472px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .givvbantu-logo-26-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 49px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 126px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icon-social-twitter9-1 {
  background-color    : rgba(27, 27, 27, 1.0);
  top                 : 65px;
  height              : 14px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 1160px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-twitter9-1 .twitter0-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -0px;
  height              : 15px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icon-social-facebook10-1 {
  background-color    : rgba(27, 27, 27, 1.0);
  top                 : 64px;
  height              : 14px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 1251px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-facebook10-1 .facebook0-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 16px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icons8-instagram-90-111-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1207px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .thanks-12-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 146px;
  height              : auto;
  box-sizing          : border-box;
  width               : 318px;
  position            : absolute;
  margin              : 0;
  left                : 126px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  letter-spacing      : -1.0px;
  line-height         : 70.0px;
}
.create-acccunt-web-desktop-charity-13 .download-the-app-to-start-giving13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 234px;
  height              : auto;
  box-sizing          : border-box;
  width               : 584px;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 0.7;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  letter-spacing      : -1.0px;
  line-height         : 50.0px;
}
.create-acccunt-web-desktop-charity-13 .download-the-app15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 493px;
  height              : auto;
  box-sizing          : border-box;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 931px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 24.0px;
}
.create-acccunt-web-desktop-charity-13 .download-116 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 378px;
  height              : 69px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 934px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icons8-ios-logo-50-117 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 377px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 1099px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .rectangle19-1 {
  background-color    : rgba(250, 250, 250, 1.0);
  top                 : 606px;
  height              : 480px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .vector22-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 901px;
  height              : 45px;
  width               : 47px;
  position            : absolute;
  margin              : 0;
  left                : 1242px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector23-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 885px;
  height              : 57px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 1246px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector27-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 890px;
  height              : 50px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 937px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .xmlid-22930 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 897px;
  height              : 52px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 690px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .xmlid-23031 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 881px;
  height              : 17px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector35-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 881px;
  height              : 70px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 413px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector39-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : 63px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector42-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 907px;
  height              : 41px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .vector45-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 884px;
  height              : 63px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-46 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 752px;
  height              : auto;
  box-sizing          : border-box;
  width               : 473px;
  position            : absolute;
  margin              : 0;
  left                : 836px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 0.7;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .we-worked-with47 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 716px;
  height              : auto;
  box-sizing          : border-box;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 836px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  letter-spacing      : 4.0px;
  line-height         : 24.0px;
}
.create-acccunt-web-desktop-charity-13 .our-partners48 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 708px;
  height              : auto;
  box-sizing          : border-box;
  width               : 500px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
  letter-spacing      : -1.0px;
  line-height         : 50.0px;
}
.your-registration-has-been-received-you-will-get-an-email-once-your-registration-has-been-approved-and-you-can-start-having-your-products-services-available-for-donation-in-the-meantime-please-inform-your-team-members-to-check-their-email-for-account-creation49 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  box-sizing          : border-box;
  width               : 584px;
  position            : absolute;
  margin              : 0;
  left                : 126px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 0.7;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(34, 34, 34, 1.0);
  text-align          : left;
}
.create-acccunt-web-desktop-charity-13 .your-registration-has-been-received-you-will-get-an-email-once-your-registration-has-been-approved-and-you-can-start-having-your-products-services-available-for-donation-in-the-meantime-please-inform-your-team-members-to-check-their-email-for-account-creation49 .span1 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(34, 34, 34, 1.0);
  letter-spacing      : -1.0px;
  line-height         : 50.0px;
}
.create-acccunt-web-desktop-charity-13 .your-registration-has-been-received-you-will-get-an-email-once-your-registration-has-been-approved-and-you-can-start-having-your-products-services-available-for-donation-in-the-meantime-please-inform-your-team-members-to-check-their-email-for-account-creation49 .span2 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(34, 34, 34, 1.0);
  line-height         : 32.0px;
}
.create-acccunt-web-desktop-charity-13 .background51-1 {
  background-color    : rgba(81, 81, 81, 1.0);
  top                 : 1012px;
  height              : 147px;
  width               : 1442px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-linkedin54-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : 27px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 1259px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-linkedin54-1 .linkedin0-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icon-social-twitter55-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : 27px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 1208px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-twitter55-1 .twitter0-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 15px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .icon-social-facebook56-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : 27px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 1310px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.create-acccunt-web-desktop-charity-13 .icon-social-facebook56-1 .facebook0-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 16px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
}
.create-acccunt-web-desktop-charity-13 .contacts58-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : auto;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 652px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .about-us59-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : auto;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 506px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .explore60-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : auto;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 405px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .travel61-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1059px;
  height              : auto;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.create-acccunt-web-desktop-charity-13 .givvbantu-logo-362-1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1048px;
  height              : 49px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}