@import url('https://fonts.googleapis.com/css?family=Roboto:400|Poppins:500,400,600|Fira+Sans:700,400,600,500|Arial:400,700|Cabin:400,700');


.group-26 {
  width               : 100%;
  min-width           : 502px;
  height              : 100vh;
  min-height          : 398px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255,255,255,0.0);
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.group-26 .rectangle0-1 {
  background-color    : rgba(196, 196, 196, 1.0);
  top                 : 0px;
  height              : 398px;
  box-sizing          : border-box;
  width               : 502px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(38, 38, 38, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  box-sizing          : border-box;
  width               : 222px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 0.0);
  text-align          : left;
  line-height         : 28.0px;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 .span1 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(81, 81, 81, 1.0);
  line-height         : 28.0px;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 .span2 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(196, 166, 10, 0.95);
  line-height         : 28.0px;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 .span3 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(81, 81, 81, 1.0);
  line-height         : 28.0px;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 .span4 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(196, 166, 10, 0.95);
  line-height         : 28.0px;
}
.group-26 .animal-arts-culture-children-differently-abled-education-talent-emergency-disaster-environment-health-senior-citizen-tax-exemption-women-youth-others1 .span5 {
  font-family         : "Fira Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(81, 81, 81, 1.0);
  line-height         : 28.0px;
}
.group-26 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 466px;
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}